* {
  overflow-x: hidden;
  padding: 0px !important;
  margin: 0px !important;
}
.v1_2 {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_3 {
  width: 100%;
  height: 100%;
  background: url("../images/v1_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(36,22,99,1);
  overflow: hidden;
}
.v12_2 {
  width: 100%;
  height: 115px;
  background: url("../images/v12_2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 0px;
  overflow: hidden;
}
.v3_0 {
  width: 100%;
  height: 113px;
  background: linear-gradient(rgba(36,22,99,1), rgba(36,22,99,0.8333034515380859));
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 0px;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v13_0 {
  width: 239px;
  color: rgba(247,247,232,1);
  position: absolute;
  top: 84px;
  left: 126px;
  font-family: Roboto Slab;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v7_0 {
  width: 280px;
  color: rgba(247,247,232,1);
  position: absolute;
  top: 0px;
  left: 120px;
  font-family: Roboto Slab;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v8_6 {
  width: 115px;
  height: 43px;
  background: url("../images/v8_6.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 37px;
  left: 237px;
  overflow: hidden;
}
.v8_7 {
  width: 115px;
  height: 43px;
  background: rgba(22,15,48,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v8_8 {
  width: 50px;
  color: rgba(230,230,230,1);
  position: absolute;
  top: 8px;
  left: 33px;
  font-family: Roboto Slab;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v19_5 {
  width: 115px;
  height: 43px;
  background: url("../images/v19_5.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 36px;
  left: 358px;
  overflow: hidden;
}
.v19_6 {
  width: 115px;
  height: 43px;
  background: rgba(22,15,48,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v19_7 {
  width: 70px;
  color: rgba(230,230,230,1);
  position: absolute;
  top: 9px;
  left: 23px;
  font-family: Roboto Slab;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v13_1 {
  width: 100%;
  height: 69px;
  background: url("../images/v13_1.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 113px;
  left: 0px;
  overflow: hidden;
}
.v3_1 {
  width: 100%;
  height: 69px;
  background: linear-gradient(rgba(35,21,99,0.8899999856948853), rgba(167,38,147,0.8176479935646057));
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v19_1 {
  width: 97px;
  color: rgba(247,247,232,1);
  position: absolute;
  top: 18px;
  left: 127px;
  font-family: Roboto Slab;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v19_0 {
  width: 68px;
  color: rgba(247,247,232,1);
  position: absolute;
  top: 18px;
  left: 27px;
  font-family: Roboto Slab;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v19_3 {
  width: 69px;
  color: rgba(247,247,232,1);
  position: absolute;
  top: 18px;
  left: 266px;
  font-family: Roboto Slab;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v19_4 {
  width: 87px;
  color: rgba(247,247,232,1);
  position: absolute;
  top: 19px;
  left: 376px;
  font-family: Roboto Slab;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v20_2 {
  width: 100%;
  height: 672px;
  background: url("../images/v20_2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 229px;
  left: 0px;
  overflow: hidden;
}
.v11_0 {
  width: 100%;
  height: 672px;
  background: rgba(230,230,230,0.949999988079071);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(22,15,48,1);
  overflow: hidden;
}
.v23_10 {
  width: 311px;
  height: 310px;
  background: url("../images/v23_10.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 103px;
  left: 330px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v20_6 {
  width: 160px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 123px;
  left: 76px;
  font-family: Roboto Slab;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v23_17 {
  width: 311px;
  height: 310px;
  background: url("../images/v23_17.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 333px;
  left: 600px;
  overflow: hidden;
}
.v23_16 {
  width: 162px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 121px;
  left: 72px;
  font-family: Roboto Slab;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v23_7 {
  width: 311px;
  height: 310px;
  background: url("../images/v23_7.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 105px;
  left: 564px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v20_4 {
  width: 256px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 123px;
  left: 27px;
  font-family: Roboto Slab;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v23_5 {
  width: 311px;
  height: 310px;
  background: url("../images/v23_5.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 335px;
  left: 291px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v20_3 {
  width: 201px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 124px;
  left: 55px;
  font-family: Roboto Slab;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v23_3 {
  width: 310px;
  height: 310px;
  background: url("../images/v23_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 105px;
  left: 21px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v20_5 {
  width: 181px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 115px;
  left: 64px;
  font-family: Roboto Slab;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v12_5 {
  width: 951px;
  color: rgba(36,22,99,1);
  position: absolute;
  top: 8px;
  left: 244px;
  font-family: Roboto Slab;
  font-weight: Regular;
  font-size: 54px;
  opacity: 1;
  text-align: left;
}
.v17_13 {
  width: 103px;
  height: 93px;
  background: url("../images/v17_13.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 7px;
  overflow: hidden;
}
.v17_12 {
  width: 103px;
  height: 93px;
  background: rgba(196,196,196,0);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v17_10 {
  width: 35px;
  height: 35px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 27px;
  left: 68px;
  overflow: hidden;
}
.v17_11 {
  width: 26px;
  height: 29px;
  background: url("../images/v17_11.png");
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 4px;
  border: 2px solid rgba(253,58,105,1);
}
.v17_8 {
  width: 35px;
  height: 35px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 53px;
  left: 51px;
  overflow: hidden;
}
.v17_9 {
  width: 26px;
  height: 29px;
  background: url("../images/v17_9.png");
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 4px;
  border: 2px solid rgba(255,200,92,1);
}
.v17_6 {
  width: 35px;
  height: 35px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 27px;
  left: 0px;
  overflow: hidden;
}
.v17_7 {
  width: 26px;
  height: 29px;
  background: url("../images/v17_7.png");
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 4px;
  border: 2px solid rgba(139,205,205,1);
}
.v17_4 {
  width: 35px;
  height: 35px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 27px;
  left: 34px;
  overflow: hidden;
}
.v17_5 {
  width: 26px;
  height: 29px;
  background: url("../images/v17_5.png");
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 4px;
  border: 2px solid rgba(241,225,137,1);
}
.v17_2 {
  width: 35px;
  height: 35px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 17px;
  overflow: hidden;
}
.v17_3 {
  width: 26px;
  height: 29px;
  background: url("../images/v17_3.png");
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 4px;
  border: 2px solid rgba(173,206,116,1);
}
.v29_4 {
  width: 100%;
  height: 70px;
  background: url("../images/v29_4.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 954px;
  left: 0px;
  overflow: hidden;
}
.v26_0 {
  width: 100%;
  height: 70px;
  background: linear-gradient(rgba(21,14,48,0.9300000071525574), rgba(21,14,48,0.8859677314758301));
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v29_13 {
  width: 108px;
  color: rgba(230,230,230,1);
  position: absolute;
  top: 10px;
  left: 1209px;
  font-family: Roboto Slab;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v29_14 {
  width: 50px;
  height: 50px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 1142px;
  overflow: hidden;
}
.v29_15 {
  width: 50px;
  height: 37px;
  background: rgba(230,230,230,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 0px;
}
.v29_7 {
  width: 43px;
  height: 50px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 518px;
  overflow: hidden;
}
.v29_8 {
  width: 43px;
  height: 50px;
  background: rgba(230,230,230,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v29_9 {
  width: 43px;
  height: 50px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 400px;
  overflow: hidden;
}
.v29_10 {
  width: 43px;
  height: 43px;
  background: rgba(230,230,230,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 0px;
}
.v29_6 {
  width: 43px;
  height: 43px;
  background: rgba(230,230,230,1);
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 269px;
}
.v29_11 {
  width: 43px;
  height: 50px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 162px;
  overflow: hidden;
}
.v29_12 {
  width: 43px;
  height: 43px;
  background: rgba(230,230,230,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 0px;
}
.v29_2 {
  width: 43px;
  height: 50px;
  background: url("../images/v29_2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 36px;
  overflow: hidden;
}
.v29_3 {
  width: 43px;
  height: 43px;
  background: rgba(230,230,230,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 0px;
}
